<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.TopicMapper">

    <select id="listTopic" resultType="com.example.model.Topic">
        select tid,name,content,image from topic
    </select>

    <insert id="insertTopic">
        insert into topic(name, content, image)
        values(#{topic}, 'Currently no description!', '/image/default.png');
    </insert>
</mapper>
